#about-me {
    padding: 5% 5%;
    color:#354B5E;
}
.bg-4 {
    background-color: #DCDDD8;  /* Grey #e84a5f */
}
.bg-5 {
    background-color: #354B5E; /* Red #2a363b */
}
.col-sm-3 {
    margin-bottom: 5%;
}
.contact-icon {
    font-size: 150px;
}
#contact {
    color: #DCDDD8;
    padding: 5% 10%;
}
#contact a {
    color: #DCDDD8;
}
#contact h2 {
    margin-bottom: 75px;
}
.container-fluid {
    padding: 50px 50px;
}
.devicon {
    font-size: 15rem;
    color: #DCDDD8;
    margin-bottom: ;
}
.desc {
    background-color: #354B5E;
    color: #DCDDD8;

}
.glyphicon.glyphicon-chevron-up {
    color: #354B5E;
}
.glyphicon-sunglasses {
    font-size: 200px;
}
#headshot-photo {
    max-width: 250px;
    min-width: 250px;
}
#home {
    margin: 0;
}
.jumbotron {
    color: #DCDDD8;
    padding: 150px 25px;
}
.navbar {
    margin-bottom: 0;
    background-color: #354B5E;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar li a, .navbar .navbar-brand {
    color: #DCDDD8 !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: #354B5E !important;
    background-color: #DCDDD8 !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #DCDDD8 !important;
}
.no-margin {
    margin: 0px;
}
p {
    font-size: 18px;
}
#profile {
    padding: 5% 10%;
}
.project-github {
    font-size: 10em;
}
.project-image {
    padding: 0;
}
.project-item {
    padding: 10px 25px;
}
.project-item img {
    max-width: 100%;
    max-height: 100%;
}
#projects {
    padding: 5% 10%;
}
#projects h2 {
    margin-bottom: 75px;
    color: #354B5E;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}
.thumbnail img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

#tools {
    padding: 5% 10%;
}
#tools h2 {
    color: #DCDDD8;
    margin-bottom: 75px;
}
